<div class="span12">
  <%= simple_form_for user, url: update_role_admin_user_path(user), method: :post do |f| %>
  <%= f.hidden_field :id, value: user.id %>
    <div class="form-actions">
      <%= f.submit "Change", disable_with: 'Submiting...', class: "btn btn-warning" %>
    </div>
  <% end %>
</div>
